.contenedor ul{
    position: relative;
    top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.prevNext{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prevNext button{
    padding: 5px;
    margin: 10px;
    position: relative;
    bottom: 3px;
    height: 47px;
    width: 90px;
    transition: 0.1s ease-in-out;
    border-radius: 50px;
    border: 2px solid #fff;
    background-color: #010615;
    color: #f0c61f;
    box-shadow: -3px 3px 19px 1px #E6D200, 12px -10px 27px 1px #E80000;
    font-size: medium;
    font-family: 'Abril Fatface', cursive;
    margin: 10px;
}

.prevNext input{
    width: 20px;
    height: 20px;
    text-align: center;
}

.prevNext p{
    background-color: red;
    width: 20px;
    text-align: center;
    margin: 5px;
    color: white;
}

.prevNext button:hover{
    background: linear-gradient(135deg, #ffdd00 20%, #7c6b00 80%);
    color: black;
    border: 3px solid rgb(0, 0, 0);
}

.prevNext button:active{
    box-shadow: 0px 0px 48px 7px #000 inset;
}